@font-face {
  font-family: 'Roboto Regular';
  src: url("fonts/Roboto-Regular.eot");
  src: url("fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Roboto-Regular.woff") format("woff"), url("fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}

.container {
  height: 100vh;
  background-color: #fff;
  font-family: 'Roboto Regular';
  font-size: 13px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.1fr 2.5fr 1.4fr;
      grid-template-columns: 1.1fr 2.5fr 1.4fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 5px;
}

h2 {
  margin-bottom: 10px;
}

.textHead {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: textHead;
}

h2 {
  text-align: center;
}

.change {
  background-image: url(icons/change.svg);
  background-repeat: no-repeat;
}

.to_list {
  background-image: url(icons/plus.svg);
  background-repeat: no-repeat;
}

.delete {
  background-image: url(icons/delete.svg);
  background-repeat: no-repeat;
}

.button {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  margin-left: 4px;
  color: #000;
  background-size: 1em;
}

input {
  display: block;
  height: 16px;
  background: #739dec;
  border: none;
  border-bottom: 2px solid #000;
  width: 100%;
}

input:focus {
  outline: 0;
}

.confirmChanges {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  text-align: center;
  cursor: default;
  margin-top: 2px;
}

.confirmChanges .confirm,
.confirmChanges .cansel {
  width: 50%;
  padding: 5px;
}

.confirmChanges .confirm {
  background-color: #459045;
  border-radius: 5px 0 0 5px;
}

.confirmChanges .confirm:hover {
  background-color: #62af62;
}

.confirmChanges .cansel {
  background-color: #ff0000;
  border-radius: 0 5px 5px 0;
}

.confirmChanges .cansel:hover {
  background-color: #ff5555;
}

.childrens {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 30px auto auto 764.5px;
      grid-template-rows: 30px auto auto 764.5px;
  grid-row-gap: 5px;
}

.childrens .nav {
  padding: 5px;
  background-color: #739dec;
  border-radius: 5px;
}

.childrens #newChildrenButton {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
  width: 100%;
  text-align: center;
  background-color: #739dec;
  border-radius: 5px;
  cursor: default;
}

.childrens #newChildrenButton:hover {
  background-color: #96b9fa;
}

.childrens .children_list {
  background-color: #739dec;
  height: 100%;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow-y: auto;
}

.childrens .children_list ::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}

.childrens .children_list_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2px;
}

.childrens .children_list_item span {
  display: block;
  width: 70%;
  height: 1.2em;
  max-width: 70%;
  overflow: hidden;
  cursor: default;
}

.childrens .children_list_item:nth-child(2n) {
  background-color: #5b85d4;
}

.childrens .children_list_item:hover {
  background-color: #96b9fa;
}

.children_info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 255px 367px;
      grid-template-columns: 255px 367px;
  -ms-grid-rows: 30px (auto)[3] 202.5px;
      grid-template-rows: 30px repeat(3, auto) 202.5px;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
      grid-template-areas: "textHead textHead" "fio sop" "education sop" "contacts note" "location trustee";
  word-wrap: break-word;
}

.children_info_group {
  background-color: #739dec;
  border-radius: 5px;
  padding: 5px;
}

.children_info p {
  background-color: #5b85d4;
}

.children_info .fio {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: fio;
}

.children_info .sop {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: sop;
}

.children_info .sop #listOfDates {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100px;
  margin-top: 5px;
}

.children_info .sop #listOfDates .listOfDates_item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2px;
}

.children_info .sop #listOfDates .listOfDates_item span {
  display: block;
  width: 90%;
  height: 1.2em;
  max-width: 90%;
  overflow: hidden;
  cursor: default;
}

.children_info .sop #listOfDates .listOfDates_item:nth-child(2n) {
  background-color: #5b85d4;
}

.children_info .sop #newDateButton {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
  width: 100%;
  text-align: center;
  background-color: #5b85d4;
  border-radius: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
  cursor: default;
}

.children_info .sop #newDateButton:hover {
  background-color: #96b9fa;
}

.children_info .sop #sopDate {
  margin-top: 2px;
}

.children_info .education {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: education;
}

.children_info .contacts {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: contacts;
}

.children_info .location {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: location;
}

.children_info .trustee {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: trustee;
}

.children_info .trustee #newTrusteeButton {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
  width: 100%;
  text-align: center;
  background-color: #5b85d4;
  border-radius: 5px;
  cursor: default;
}

.children_info .trustee #newTrusteeButton:hover {
  background-color: #96b9fa;
}

.children_info .note {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: note;
}

.children_info .trustee_list {
  height: 65%;
  overflow-y: auto;
  padding: 5px;
}

.children_info .trustee_list_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2px;
}

.children_info .trustee_list_item span {
  display: block;
  width: 70%;
  height: 1.2em;
  max-width: 70%;
  overflow: hidden;
  cursor: default;
}

.children_info .trustee_list_item:nth-child(2n) {
  background-color: #5b85d4;
}

.children_info .trustee_list_item:hover {
  background-color: #96b9fa;
}

.trustee_info {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 30px (auto)[5];
      grid-template-rows: 30px repeat(5, auto);
  grid-row-gap: 5px;
  grid-column-gap: 5px;
}

.trustee_info_group {
  background-color: #739dec;
  border-radius: 5px;
  padding: 5px;
  width: 345;
}

.trustee_info p {
  background-color: #5b85d4;
}

.displaynone {
  display: none;
}

.borderBottom {
  border-bottom: 1px solid #000;
  cursor: default;
}
/*# sourceMappingURL=style.css.map */