@import "fonts/fonts";

$fonColor: #fff;
$listFon: #5b85d4;
$cardColor: #739dec;


* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background-color: $fonColor;
    font-family: 'Roboto Regular';
    box-sizing: border-box;
}

h2 {
    margin-bottom: 10px;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1.1fr 2.5fr 1.4fr;
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    box-sizing: border-box;
    padding: 10px;
}

.textHead {
    grid-area: textHead;
}

h2 {
    text-align: center;
}



.change {
    background-image: url(icons/change.svg);
    background-repeat: no-repeat;
}

.to_list {
    background-image: url(icons/plus.svg);
    background-repeat: no-repeat;
}

.delete {
    background-image: url(icons/delete.svg);
    background-repeat: no-repeat;
}

.childrens {
    display: grid;
    grid-template-rows: 30px auto 1fr;
    grid-row-gap: 5px;

    .nav {
        display: flex;
        padding: 5px;
        background-color: $cardColor;
        border-radius: 5px;

        input {
            height: 20px;
            background: $cardColor;
            border: none;
            border-bottom: 2px solid #000;
            margin-right: 10px;
            width: 89%;

            &:focus {
                outline: 0;
            }
        }

        .new_children {
            padding: 12px;
            background-image: url(icons/user.svg);
            background-repeat: no-repeat;
        }
    }

    .children_list {
        background-color: $cardColor;
        height: 100%;
        padding: 5px;
        box-sizing: border-box;
        margin-bottom: 10px;
        border-radius: 5px;

        &_item {
            display: flex;
            padding: 2px;

            span {
                display: block;
                width: 70%;
                height: 1.2em;
                max-width: 70%;
                overflow: hidden;
            }

            .button {
                width: 19px;
                height: 19px;
                margin-right: 4px;
                margin-left: 4px;
                color: #000;
                background-size: 16px;
            }

            &:nth-child(2n) {
                background-color: $listFon;
            }

            &:hover {
                background-color: #96b9fa;
            }
        }
    }
}

.children_info {
    display: grid;
    grid-template-rows: 30px repeat(4, auto);
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    grid-template-areas:
        "textHead textHead"
        "fio sop"
        "education sop"
        "contacts note"
        "location trustee";

    &_group {
        background-color: $cardColor;
        border-radius: 5px;
        padding: 5px;
    }

    p {
        background-color: $listFon;
    }

    .fio {
        grid-area: fio;
    }

    .sop {
        grid-area: sop;
    }

    .education {
        grid-area: education;
    }

    .contacts {
        grid-area: contacts;
    }

    .location {
        grid-area: location;
    }

    .trustee {
        grid-area: trustee;
    }

    .note {
        grid-area: note;
    }

    .trustee_list {
        background-color: $listFon;

        &_item {
            display: flex;
            padding: 2px;

            span {
                display: block;
                width: 70%;
                height: 1.2em;
                max-width: 70%;
                overflow: hidden;
            }

            .button {
                width: 19px;
                height: 19px;
                margin-right: 4px;
                margin-left: 4px;
                color: #000;
                background-size: 16px;
            }

            &:nth-child(2n+1) {
                background-color: $cardColor;
            }

            &:hover {
                background-color: #96b9fa;
            }
        }
    }
}

.trustee_info {
    display: grid;
    grid-template-rows: 30px repeat(4, auto);
    grid-row-gap: 5px;
    grid-column-gap: 5px;

    &_group {
        background-color: $cardColor;
        border-radius: 5px;
        padding: 5px;
    }

    p {
        background-color: $listFon;
    }
}