@import "fonts/fonts";

$fonColor: #fff;
$listFon: #5b85d4;
$cardColor: #739dec;
$hoverColor: #96b9fa;
$buttonToggleColor: #459045;


* {
    padding: 0;
    margin: 0;
}

.container {
    height: 100vh;
    background-color: $fonColor;
    font-family: 'Roboto Regular';
    font-size: 13px;
    box-sizing: border-box;
    padding: 10px;
    display: grid;
    grid-template-columns: 1.1fr 2.5fr 1.4fr;
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
}

h2 {
    margin-bottom: 10px;
}

.textHead {
    grid-area: textHead;
}

h2 {
    text-align: center;
}

.change {
    background-image: url(icons/change.svg);
    background-repeat: no-repeat;
}

.to_list {
    background-image: url(icons/plus.svg);
    background-repeat: no-repeat;
}

.delete {
    background-image: url(icons/delete.svg);
    background-repeat: no-repeat;
}

.button {
    width: 16px;
    height: 16px;
    margin-right: 4px;
    margin-left: 4px;
    color: #000;
    background-size: 1em;
}

input {
    display: block;
    height: 16px;
    background: $cardColor;
    border: none;
    border-bottom: 2px solid #000;
    width: 100%;

    &:focus {
        outline: 0;
    }
}

.confirmChanges {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    cursor: default;
    margin-top: 2px;

    .confirm,
    .cansel {
        width: 50%;
        padding: 5px;
    }

    .confirm {
        background-color: #459045;
        border-radius: 5px 0 0 5px;


        &:hover {
            background-color: #62af62;
        }
    }

    .cansel {
        background-color: #ff0000;
        border-radius: 0 5px 5px 0;

        &:hover {
            background-color: #ff5555;
        }
    }

}

.childrens {
    display: grid;
    grid-template-rows: 30px auto auto 764.5px;
    grid-row-gap: 5px;

    .nav {
        padding: 5px;
        background-color: $cardColor;
        border-radius: 5px;
    }

    #newChildrenButton {
        box-sizing: border-box;
        padding: 5px;
        width: 100%;
        text-align: center;
        background-color: $cardColor;
        border-radius: 5px;
        cursor: default;

        &:hover {
            background-color: $hoverColor;
        }
    }

    .children_list {
        background-color: $cardColor;
        height: 100%;
        padding: 5px;
        box-sizing: border-box;
        margin-bottom: 10px;
        border-radius: 5px;
        overflow-y: auto;


        ::-webkit-scrollbar {
            width: 0px;
            background-color: transparent;
        }

        &_item {
            display: flex;
            padding: 2px;

            span {
                display: block;
                width: 70%;
                height: 1.2em;
                max-width: 70%;
                overflow: hidden;
                cursor: default;
            }

            &:nth-child(2n) {
                background-color: $listFon;
            }

            &:hover {
                background-color: #96b9fa;
            }
        }
    }
}

.children_info {
    display: grid;
    grid-template-columns: 255px 367px;
    grid-template-rows: 30px repeat(3, auto) 202.5px;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    grid-template-areas:
        "textHead textHead"
        "fio sop"
        "education sop"
        "contacts note"
        "location trustee";
    word-wrap: break-word;

    &_group {
        background-color: $cardColor;
        border-radius: 5px;
        padding: 5px;
    }

    p {
        background-color: $listFon;
    }

    .fio {
        grid-area: fio;
    }

    .sop {
        grid-area: sop;
        cursor: default;

        #listOfDates {
            box-sizing: border-box;
            width: 100%;
            height: 100px;
            margin-top: 5px;

            .listOfDates_item {
                width: 100%;
                display: flex;
                padding: 2px;

                span {
                    display: block;
                    width: 90%;
                    height: 1.2em;
                    max-width: 90%;
                    overflow: hidden;
                    cursor: default;
                }

                &:nth-child(2n) {
                    background-color: $listFon;
                }
            }
        }

        #newDateButton {
            box-sizing: border-box;
            padding: 5px;
            width: 100%;
            text-align: center;
            background-color: $listFon;
            border-radius: 5px;
            margin-top: 2px;
            margin-bottom: 2px;
            cursor: default;

            &:hover {
                background-color: $hoverColor;
            }
        }

        #sopDate{
            margin-top: 2px;
        }
    }

    .education {
        grid-area: education;
    }

    .contacts {
        grid-area: contacts;
    }

    .location {
        grid-area: location;
    }

    .trustee {
        grid-area: trustee;

        #newTrusteeButton {
            box-sizing: border-box;
            padding: 5px;
            width: 100%;
            text-align: center;
            background-color: $listFon;
            border-radius: 5px;
            cursor: default;

            &:hover {
                background-color: $hoverColor;
            }
        }

    }

    .note {
        grid-area: note;

    }

    .trustee_list {
        height: 65%;
        overflow-y: auto;
        padding: 5px;


        &_item {
            display: flex;
            padding: 2px;

            span {
                display: block;
                width: 70%;
                height: 1.2em;
                max-width: 70%;
                overflow: hidden;
                cursor: default;
            }

            &:nth-child(2n) {
                background-color: $listFon;
            }

            &:hover {
                background-color: #96b9fa;
            }
        }
    }
}

.trustee_info {
    display: grid;
    grid-template-rows: 30px repeat(5, auto);
    grid-row-gap: 5px;
    grid-column-gap: 5px;

    &_group {
        background-color: $cardColor;
        border-radius: 5px;
        padding: 5px;
        width: 345;
    }

    p {
        background-color: $listFon;
    }
}

.displaynone {
    display: none;
}

.borderBottom{
    border-bottom: 1px solid #000;
    cursor: default;
}